-i https://pypi.org/simple
black
boto3
botocore
click
colorama
coverage[toml]
iniconfig
isort
mypy-extensions
packaging
pathspec
platformdirs
pluggy
pytest
pytest-cov
annotated-types
attrs
blinker
dnspython
email-validator
flasgger
flask
flask-cors
flask-sqlalchemy
greenlet
idna
itsdangerous
jinja2
jsonschema
jsonschema-specifications
markupsafe
mistune
psycopg2-binary
pydantic
pydantic-core
python-dotenv
pyyaml
referencing
rpds-py
six
sqlalchemy
structlog
typing-extensions
typing-inspection
watchtower
werkzeug
