-i https://pypi.org/simple

boto3
botocore
click
colorama==0.4.6
flasgger==0.9.7.1
flask==2.2.5
flask-cors
flask-sqlalchemy==2.5.1
greenlet
idna==3.10
itsdangerous
jinja2==3.0.3
jsonschema
markupsafe
mistune
psycopg2-binary
pydantic==1.10.13
python-dotenv
pyyaml
referencing
rpds-py
six==1.17.0
sqlalchemy==1.4.51
structlog==22.3.0
typing-extensions==4.7.1
typing-inspection
watchtower==2.0.1
werkzeug==2.2.3
